package components

templ Layout() {
	<html>
		<head>
			<title>Templ + HTMX + Tailwind</title>
			<link href="/style.css" type="text/css" rel="stylesheet"/>
			<script src="/scripts/htmx.min.js"></script>
			<script defer src="/scripts/_hyperscript.min.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
