package components

templ Layout() {
	<html>
		<head>
			<title>Templ + HTMX + Tailwind</title>
			<link href="/style.css" type="text/css" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
